# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
/ATM/ATM/Debug
/ATM/Bank/Debug
/ATM/Common/Debug
/ATM/Server/Debug
/ATM/Debug
/ATM/ATM.VC.VC.opendb
/ATM/ATM.VC.db
/ATM/ATM/Release
/ATM/ATM/x64
/ATM/Common/x64
/ATM/Common/Release
/ATM/Release
/ATM/x64
